/*
COLOR PALETTE
rgb(43, 43, 43)
honeydew
darkolivegreen
darksalmon
steelblue
*/


/* Global styles
-------------------------*/
body{
    color: rgb(43, 43, 43);
}
img{
    width: 300px;
}
a{
    color: darksalmon;
}
a:hover {
    text-decoration: none;
}

/* Profile
-------------------------*/
header {
    background-color: darkolivegreen;
    color: honeydew;
}
/* Projects
-------------------------*/
.projects {
    background: honeydew;
}
.projects a {
    color: darksalmon;
}
.projects .btn {
    color: honeydew;
    background: darkolivegreen;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(85, 107, 47, 80%);
}
/* Work Experience
-------------------------*/
.work-experience {
    background: steelblue;
}

/* Education
-------------------------*/

/* Contact Info
-------------------------*/
footer {
    background:rgb(43, 43, 43);
    color: honeydew;
}