/*
COLOR PALETTE
rgb(43, 43, 43)
honeydew
darkolivegreen
darksalmon
steelblue
*/


/* Global styles
-------------------------*/
body{
    color: rgb(43, 43, 43);
	border: 15px steelblue groove;
}
img{
    width: 300px;
	border-radius: 4px;
}
a{
    color: darksalmon;
}
a:hover {
    text-decoration: none;
}
h2{
	margin: 0;
}
.content-wrap{
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0;
}

/* Profile
-------------------------*/
header {
    background-color: darkolivegreen;
    color: honeydew;
}
/* Projects
-------------------------*/
.projects {
    background: honeydew;
}
.projects a {
    color: darksalmon;
}
.projects .btn {
    color: honeydew;
    background: darkolivegreen;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
	display: inline-block;
}
.projects .btn:hover {
    background: rgba(85, 107, 47, 80%);
}
.call-out{
	background: white;
	margin: 10px 0;
	padding: 10px 25px;
	width: 300px;
	border: darksalmon thick outset;
	border-radius: 8px;
}
/* Work Experience
-------------------------*/
.work-experience {
    background: steelblue;
}
.call-out2{
	background: white;
	margin: 10px 0;
	padding: 10px 25px;
	width: 500px;
	border: darkolivegreen thick outset;
	border-radius: 8px;
}
/* Education
-------------------------*/
.call-out3{
	background: white;
	margin: 10px 0;
	padding: 10px 25px;
	width: 500px;
	border: darksalmon thick outset;
	border-radius: 8px;
}

/* Contact Info
-------------------------*/
footer {
    background:rgb(43, 43, 43);
    color: honeydew;
}